<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/default/img/apple-icon.png}">
  <link rel="icon" type="image/png" th:href="@{/default/img/favicon.png}">
  <title>
    Soft UI Dashboard by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link th:href="@{/default/css/nucleo-icons.css}" rel="stylesheet" />
  <link th:href="@{/default/css/nucleo-svg.css}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link th:href="@{/default/css/nucleo-svg.css}" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" th:href="@{/default/css/soft-ui-dashboard.css?v=1.0.5}" rel="stylesheet" />
  <style>
    .login-brand img{
      max-height: 2rem;
    }
  </style>
</head>

<body class="">
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid pe-0">
          <a class="navbar-brand login-brand font-weight-bolder ms-lg-0 ms-3 " href="/login">
            <img th:src="@{/default/img/logo-svg.svg}" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold">Alesha Dashboard</span>
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">

          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>
<main class="main-content  mt-0">
  <section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">Selamat Datang</h3>
                <p class="mb-0">Silahkan login untuk memulai sesi</p>
              </div>
              <div class="card-body">
                <form role="form">
                  <label>Email</label>
                  <div class="mb-3">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                  </div>
                  <label>Password</label>
                  <div class="mb-3">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                  </div>
                  <div class="mb-3">
                    <div class="g-recaptcha" data-sitekey="6Lfh4pEfAAAAALgxet2PldVrNP3bHQB1IBmic2mG" id="recaptcha"></div>
                    <span id="captcha-error" style="color:red"></span>
                  </div>
                  <div class="text-center">
                    <button type="button" id="signin" class="btn bg-gradient-info w-100 mt-4 mb-0">Sign in</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
<!--                <p class="mb-4 text-sm mx-auto">-->
<!--                  Don't have an account?-->
<!--                  <a href="javascript:;" class="text-info text-gradient font-weight-bold">Sign up</a>-->
<!--                </p>-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/default/img/curved-images/curved6.jpg')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4 mx-auto text-center">
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Company
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          About Us
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Team
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Products
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Blog
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Pricing
        </a>
      </div>
      <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-dribbble"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-twitter"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-instagram"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-pinterest"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-github"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto text-center mt-1">
        <p class="mb-0 text-secondary">
          Copyright © <script>
              document.write(new Date().getFullYear())
            </script> Digital Amore Kriyanesia.
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
<!--   Core JS Files   -->
<script th:src="@{/bootstrap5/plugins/jquery-3.5.1.js}" type="text/javascript"></script>
<script th:src="@{/default/js/core/popper.min.js}"></script>
<script th:src="@{/default/js/core/bootstrap.min.js}"></script>
<script th:src="@{/default/js/plugins/perfect-scrollbar.min.js}"></script>
<script th:src="@{/default/js/plugins/smooth-scrollbar.min.js}"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
    function validateAndGetCaptchaResponse() {
        const response = grecaptcha.getResponse();
        return response.length === 0 ? null : response;
    }
    $(document).ready(function () {
        console.log('document ready ..');
        $("#signin").click(function () {

            $("#captcha-error").html("");

            let captchaResponse = validateAndGetCaptchaResponse();
            if (captchaResponse) {
                console.log("Captcha code accepted.");
                let email = $("#email").val();
                let password = $("#password").val();
                let requestObj = {
                    'email': email.length === 0 ? 'dummy@mail.com' : email,
                    'password': password.length === 0 ? 'Dummy' : password,
                    'captchaResponse': captchaResponse
                };

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(requestObj),
                    url: "http://alesha-sb.lc/auth/login",
                    success: function (data) {
                        alert(data.message);
                    }
                });

            } else {
                $("#captcha-error").html("You cannot leave the captcha code empty.");
            }
        });
    });
  </script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script th:src="@{/default/js/soft-ui-dashboard.min.js?v=1.0.5}"></script>
</body>

</html>