<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap5/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap5/plugins/DataTables/DataTables-1.11.5/css/dataTables.bootstrap5.min.css}" rel="stylesheet">

    <title>Tutorial</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ5bi0SRdjIEoZmoHCOLq1FYYUWiWdXTMIaA&usqp=CAU" alt="" width="30" height="30" class="d-inline-block align-text-top">
            Spring Web
        </a>
    </div>
</nav>
<br>
<div class="container">
    <h2>Datatable Tutorials</h2>
    <table class="table table-bordered table-striped" id="tbl-tutorial">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script th:src="@{/bootstrap5/plugins/jquery-3.5.1.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap5/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap5/plugins/DataTables/DataTables-1.11.5/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap5/plugins/DataTables/DataTables-1.11.5/js/dataTables.bootstrap5.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap5/plugins/jquery.spring-friendly.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        console.log('doc ready ...');
        $("#tbl-tutorial").DataTable({
            'ajax': {
                'contentType': 'application/json',
                'url': '/service/datatable/tutorials',
                'type': 'POST',
                'data': function(d) {
                  return JSON.stringify(d);
                }
             },
            'serverSide' : true,
            columns : [{
              data : 'title'
            }, {
              data : 'description'
            }]
        });
    });
</script>
</body>
</html>