<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap5/css/bootstrap.min.css}" rel="stylesheet">

    <title>Hello, world!</title>
</head>
<body>
<h1 th:text="${welcome}"></h1>

<script th:src="@{/bootstrap5/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>
</html>