<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap5/css/bootstrap.min.css}" rel="stylesheet">

    <title>Tutorial</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ5bi0SRdjIEoZmoHCOLq1FYYUWiWdXTMIaA&usqp=CAU" alt="" width="30" height="30" class="d-inline-block align-text-top">
            Spring Web
        </a>
    </div>
</nav>
<br>
<div th:switch="${tutorials}" class="container">
    <h2 th:case="null">No tutorial yet!</h2>
    <div th:case="*">
        <h2>Tutorials</h2>
        <p><a href="/crud/add">Add a new tutorial</a></p>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tutorial : ${tutorials}">
                <td th:text="${tutorial.title}"></td>
                <td th:text="${tutorial.description}"></td>
                <td><a th:href="@{/crud/edit/{id}(id=${tutorial.id})}">Edit</a></td>
                <td><a th:href="@{/crud/delete/{id}(id=${tutorial.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <div>
            <nobr>
                <span th:if="${hasPrev}"><a th:href="@{/crud?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
                <span th:if="${hasNext}"><a th:href="@{/crud?page={next}(next=${next})}">Next</a></span>
            </nobr>
        </div>
    </div>

</div>

<script th:src="@{/bootstrap5/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>
</html>