<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap5/css/bootstrap.min.css}" rel="stylesheet">

    <title>Tutorial Edit</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ5bi0SRdjIEoZmoHCOLq1FYYUWiWdXTMIaA&usqp=CAU" alt="" width="30" height="30" class="d-inline-block align-text-top">
            Spring Web
        </a>
    </div>
</nav>
<br>
<div class="container">
    <h4>Edit Tutorial</h4>
    <form action="#"
          th:action="@{/crud/update/{id}(id=${tutorial.id})}"
          th:object="${tutorial}"
          method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Title">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{name}"></span>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Update Tutorial</button>
    </form>
</div>
<script th:src="@{/bootstrap5/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>
</html>